body{
    background-color: antiquewhite;
    margin: auto;
    text-align: center;
}
.container{
    width: 1000px;
    min-height: 800px;
    background-color: aquamarine;
    margin: auto;
    border-radius: 25px;
    padding: 20px;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.one > input {
    width: 800px;
    height: 50px;
    border-radius: 25px 0px 0px 25px;
    padding-left: 25px;
    font-size: 1.5rem;
    border: 1px solid grey;
}
.one > button {
    width: 100px;
    height: 52px;
    border: none;
    background-color: white;
    border-radius: 0px 25px 25px 0px;
}
.one > button:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

ul{
    list-style: none;
}
ul > li{
    background-color: bisque;
    margin-top: 5px;
    padding: 5px;
    border-radius: 20px;
}