body{
    background-color: gray;
    text-align: center;
}

.container{
    width: 700px;
    height: 400px;
    background-color: antiquewhite;
    padding: 20px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
}

button {
    border: none;
    background: black;
    margin-left: -40px;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin: 20px;
} 
button:hover{
    background: rgb(34, 33, 33);
}

.header{
    display: flex;
    justify-content: space-around;
}
.header > div{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}


