.body{
    background-color: antiquewhite;
}
.container{
    width: 60vw;
    margin: auto;
}
.profileCard{
    background-color: aquamarine;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}
.header{
    width: 60vw;
    margin: auto;
    text-align: center;
}
.header > button{
    font-size: 12px;
    border: none;
    background-color: olive;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.header > button:hover{
    background-color: wheat;
    color: olive;
}